</main>
<footer>
  <strong>Dog Club Contact information</strong> <br>
  <span>Adress: Boardstreet 432</span>
  <span>Phone: 045635673</span>
  <span>E-mail: dogclub@gmail.com</span>

</footer>
</body>
</html>