<%- include('nav') %>

  <h2>HELLO</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa dolore nemo autem doloremque atque veritatis voluptas, eveniet magni corporis dolor officia esse sapiente eos, quo sit inventore architecto earum excepturi.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam laborum minima rerum possimus minus est sequi nisi quia odio ea.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa dolore nemo autem doloremque atque veritatis voluptas, eveniet magni corporis dolor officia esse sapiente eos, quo sit inventore architecto earum excepturi.</p>

  <%- include('footer') %>